[Unit]
Description=Monitor Minos incidents outside deployment %i

[Timer]
OnBootSec=3m
OnUnitActiveSec=1m
AccuracySec=5s
Unit=minos-incidents@%i.service

[Install]
WantedBy=timers.target
