[Unit]
Description=Monitor the Minos heartbeat outside deployment %i

[Timer]
OnBootSec=3m
OnUnitActiveSec=1m
AccuracySec=5s
Unit=minos-deadman@%i.service

[Install]
WantedBy=timers.target
